# در برابر فایل ها و پکیج هایی که نمیخواهیم رهگیری بشه از دسترسش خارج کنیم Git استفاده میکنیم تا جلوی رهگیری .gitignore اون پکیج هارا رهگیری کنه از Git استفاده کنیم و نخواهیم که js اگر از پکیجی استفاده کنیم به عنوان مثال از پکیج های