body{
    margin: 0;
    background-color: #fff;
}
*{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1080px;
    margin-right: auto;
    margin-left: auto;   
}
.navbar{
    background-color: #fff;
    padding: 2px 5px;
    list-style-type: none;
}
.section_box{
    color: #111;
    margin: 2px;
}